@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #cdb87c;
    color: white;
    /*background-color: #003594;
    color: #FFB81c;*/
}

.main-heading {
    
    text-align: center;
    font-size: 300%;
    padding-top: 50px;
    font-family: Lobster, sans-serif;
}

.searchbox{
    text-align: center;
    font-family: "Open Sans", sans-serif;

}

input#course{
    box-sizing: border-box;
    padding: 4px 12px;
    margin-left: 6px;
    margin-right: 6px;
    width: 10%;
    border-radius: 4px
}


